export XDG_CONFIG_HOME=$HOME/.config

{{ if eq .chezmoi.username "efuentesamin" }}
eval "$(oh-my-posh init zsh --config $HOME/.config/ohmyposh/marcduiker.toml)"
#eval "$(oh-my-posh init zsh --config $(brew --prefix oh-my-posh)/themes/marcduiker.json)"
{{ else }}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
#if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
#  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
#fi
#export ZSH="$HOME/.oh-my-zsh"
#source $(brew --prefix)/share/powerlevel10k/powerlevel10k.zsh-theme
#ZSH_THEME="powerlevel10k/powerlevel10k"
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
#[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
{{ end }}

eval "$(zoxide init zsh)"

source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source "$HOME/.fzf"
source "$HOME/.aliases"

plugins=(
    git
    history
    web-search
    dirhistory
    z
    poetry
)

# User configuration

zstyle ':completion:*' menu select

# ----- Bat (better cat) -----
export BAT_THEME=tokyonight_night

# history setup
HISTFILE=$HOME/.zhistory
SAVEHIST=1000
HISTSIZE=999
setopt share_history
setopt hist_expire_dups_first
setopt hist_ignore_dups
setopt hist_verify

# completion using arrow keys (based on history)
bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward

{{ if eq .chezmoi.username "efuentesamin" }}
# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/efuentesamin/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/efuentesamin/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/efuentesamin/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/efuentesamin/google-cloud-sdk/completion.zsh.inc'; fi
{{ end }}

